# Ignorar arquivos de log
*.log
# Ignorar arquivos de compilação
/build/
# Ignorar arquivos de configuração do sistema operacional
.DS_Store
# Ignorar arquivos de configuração do editor
.vscode/
.idea/
# Ignorar arquivos de dependências
node_modules/
