/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Righteous&display=swap');

/* ===================== */
/*     PALETA DE COR     */
/* ===================== */
:root {
    --amarelo-dourado: #FFDE00;
    --azul-cerulean: #3B4CCA;
    --vermelho-boston: #CC0000;
    --cinza-padrao: #d9d9d9;
    --branco-full: #ffffff;
}
