:root {
  --background: rgba(0, 0, 0, 1);
  --vermelho: rgba(255, 0, 0, 1);
  --vermelho-boston: rgba(204, 0, 0, 1);
  --azul-cerulean: rgba(59, 76, 202, 1);
  --amarelo-dourado: rgba(255, 222, 0, 1);
  --amarelo-folha-de-ouro: rgba(179, 161, 37, 1);
  --verde-campo: rgba(129, 199, 132, 1);
  --branco-full: rgba(255, 255, 255, 1);
  --preto: rgba(0, 0, 0, 1);
  --collection-1-branco-padr-o: rgba(217, 217, 217, 1);
}
